<ng-container *ngIf="userCombinedInfo$ | async as userCombinedInfo; else loading">
    <div class="user-details">
        <div class="user-details_head">
            <h1>{{userCombinedInfo.userDetails.login}}</h1>
            <button [routerLink]="['/users']">
                Back
            </button>
        </div>
        <div class="lists-wrapper">
            <div class="list">
                <h2>Repositories</h2>
                <ul class="repositories">
                    <li class="repositories-element" *ngFor="let repo of userCombinedInfo.userRepos">
                        {{repo.name}}
                    </li>
                </ul>
            </div>
            <div class="list">
                <h2>Followers</h2>
                <ul class="follower">
                    <li class="followers-element" *ngFor="let userFollower of userCombinedInfo.userFollowers">
                        {{userFollower.login}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loading class="loading">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
</ng-template>